@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>


<p>
    Este software es creado como parte de una actividad práctica.<br />
    <br />
<p><strong> Maestría en Informática</strong></p>
    Actividad "Práctica MVC – SOA" para la materia de desarrollo de aplicaciones empresariales.
<br /><br />
