@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>


<address>
    
    <br /><strong>Integrantes</strong>
    <p></p>
    Ludy Karina Pérez Torres<br />
    Yeison Jair Vargas Flórez<br />

</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Yeison.Vargasjf@gmail.com</a><br />
    <strong>Soporte:</strong> <a href="mailto:Marketing@example.com">Lubdy.Perez@gmail.com</a>
</address>