@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BiblioTIC</h1>
    <p class="lead">Sistema de Administración de Biblioteca en ASP.NET</p>
    <p>ASP.NET es un marco web gratuito para construir excelentes sitios web y aplicaciones web usando HTML, CSS y JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Aprende más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administra Eficientemente Tu Biblioteca</h2>
        <p>
            Usamos tecnología ASP.NET y servicios SOA para darte darte el poder de no perder el rastro de ningún libro y de simplificarle el proceso de préstamo y entrega de libros a tus estudiantes.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Aprende más&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Posibilidades Infinitas</h2>
        <p>¡Así es!, puedes administrar estudiantes, empleados, libros, préstamos y demás. Tienes búsquedas por múltiples tipos y muchas posibilidades con nuestro sistema.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Aprende más &raquo;</a></p>
    </div>
  


</div>